{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 초기화 완료 | Card Game</title>
    <link rel="stylesheet" href="{% static 'cardgame/cardgame.css' %}">
</head>
<body>
<div class="windows-xp-ui">
    <div class="program-window">
        <div class="title-bar">
            <span class="window-title">
                <img src="{% static 'cardgame/image/windows-4.png' %}" width="16" height="16" />
                비밀번호 초기화 완료
            </span>
            <div class="window-controls">
                <button class="control-btn">_</button>
                <button class="control-btn">□</button>
                <button class="control-btn">X</button>
            </div>
        </div>
        <div class="window-body">
            <h1>비밀번호 초기화</h1>
            <p>메일을 전송하였습니다. 메일을 받지 못했다면 스팸 폴더를 확인해주세요.<br>
            몇 분 후에도 메일을 받지 못하시면 저희에게 연락주세요.</p>

            <div style="margin-top:20px;">
                <a href="{% url 'account_login' %}" class="xp-button">로그인으로 돌아가기</a>
            </div>
        </div>
        <div class="window-statusbar">
            <span class="status-text"></span>
        </div>
    </div>
</div>
</body>
</html>