<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Windows XP Card Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/t.css">
</head>

<body>
  <div class="windows-xp-ui">
    <!-- 프로그램 창 -->
    <div class="program-window">
      <div class="title-bar">
        <span class="window-title">
          <img src="./windows-4.png" width="16" height="16" />
          Pirogramming Card Game
        </span>
        <div class="window-controls">
          <button class="control-btn">_</button>
          <button class="control-btn">□</button>
          <button class="control-btn">X</button>
        </div>
      </div>
      <div class="window-body">
        <!-- 창 내용: 카드게임 자리 -->
         <!-- [START] 윈도우 탐색기 메뉴바 -->
        <div class="menu-bar">
            <span>File</span>
            <span>Edit</span>
            <span>View</span>
            <span>Help</span>
        </div>
        <div class="center-content">
          <h1 class="game-title">Piro Game</h1>
          <div class="button-row">
            <button class="xp-button">Start</button>
            <button class="xp-button">List</button>
          </div>
        </div>
      </div>
      <div class="window-statusbar">
        <span class="status-text"></span>
      </div>
    </div>

    <!-- 하단 작업표시줄 -->
    <div class="taskbar">
        <div class="taskbar-left">
            <button class="start-btn">
            <img src="start-icon.png" width="16" height="16" /> Start
            </button>
            <button class="task-btn">
            <img src="calc-icon.png" width="16" height="16" /> Calculator
            </button>
            <button class="task-btn">
            <img src="ie-icon.png" width="16" height="16" /> Internet Explorer
            </button>
        </div>
        <div class="taskbar-right">
          {% if user.is_authenticated %}
          <span style="font-size:20x; font-weight:bold; color:black;">
            안녕하세요, {{ user.username }}님
          </span>
          <form method="post" action="{% url 'account_logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-button">로그아웃</button>
          </form>
        {% else %}
          <span style="font-size:20px; font-weight:bold; color:black;">
            로그인해주세요
          </span>
        {% endif %}
            <img src="speaker-icon.png" width="16" height="16" />
            <span class="time">10:32 AM</span>
        </div>
    </div>
  </div>
</body>
</html>
